.header-section{
    /* position: fixed; */
    background-color: #256D85;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.nav-link{
    text-decoration: none;
}